.transctions {
  text-align: center;
  background: #fbfbfb;
}

.transctions-container {
  display: flex;
  flex-direction: column;
}

.transctions-header {
  font-size: calc(2px + 2vmin);
  color: black;
  display: flex;
  align-self: center;
  width: 1200px;
}

.transctions-title {
  margin-left: 0px;
  padding: 0 0rem;
  font-size: 2rem;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 40px;
  width: 1200px;
}

.filters-left {
  display: flex;
  flex-direction: row;
}

.dd-header {
  background: #598CDA;
  border: 1px solid #598CDA;
  box-shadow: 2px 2px 6px lighten(#A2B2FA, 13%);
  width: 150px;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  padding: .75rem 0rem .75rem 0rem;
  margin-right: 1rem;
}

.dd-header-title {
  text-align: center;
}

.dd-list-wrapper {
  position: relative;
}

.dd-list {
  position: absolute;
  border: 1px solid white;
  background: white;
  box-shadow: 2px 2px 6px lighten(#A2B2FA, 13%);
  width: 200px;
  border-radius: 20px;
  font-size: 1rem;
  padding: .5rem 0rem .5rem 0rem;
}

.dd-list-item {
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
  padding: 20px 0px 20px 20px;
  &:hover {
    background: lighten(#A2B2FA, 13%);
    border-radius: 10px;
  }
}

.search-text-input {
  border: 1px solid white;
  box-shadow: 2px 2px 6px lighten(#A2B2FA, 13%);
  height: 5px;
  width: 250px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 300;
  padding: 1.25rem 0rem 1.25rem 1.75rem;
  &:focus {
    outline: none;
  }
}

.transactions-table {
  margin-top: 20px;
  box-shadow: 2px 2px 6px lighten(#A2B2FA, 13%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1200px;
}

.table-header {
  box-shadow: 0 6px 6px -6px lighten(#A2B2FA, 13%);
  color: #666;
}

.table-header-row {
  border-top: none;
  color: #333333;
  display: flex;
  justify-content: space-evenly;
  padding: 0.1rem 1rem 1rem 1rem;
  text-decoration: none;
  transition: background .3s ease;
}

.table-header-row-data {
  margin: 1.2rem 0 0 0;
  width: 17.5%;
  font-size: 1rem;
  font-weight: 700;
}

.table-header-row-data-long {
  margin: 1.2em 0 0 0;
  width: 30%;
  font-weight: 700;
}

.table-body {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.table-row {
  border-top: none;
  color: #333333;
  display: flex;
  justify-content: space-evenly;
  padding: 0.1rem 1rem 1rem 1rem;
  transition: background .3s ease;
  &:hover {
    background: #598CDA;
    color: white;
  }
}

.table-row-data {
  margin: 1.2rem 0 0 0;
  width: 17.5%;
  font-size: 1rem;
}

.table-row-data-long {
  margin: 1.2em 0 0 0;
  width: 30%;
  font-size: 1rem;
}

